.rightbarFriend{
     display: flex;
     flex-direction: column;
     margin-bottom: 15px;
     cursor: pointer;
     margin-top: 20px;

}
.rightbarFriendContainer{
     margin-top: 10px;
}
.rightbarProfileImg{
      width: 40px;
      height: 40px;
      border-radius: 50%;
} 
.rightbarProfileImageContainer{
     margin-right: 10px;
     position: relative;
}
.rightbarOnlineFriend{
     
     font-weight: 600;
     margin-top: 5px;
}
.rightbarOnlineIcon{
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: rgb(11, 192, 11);
     position: absolute;
     top: -1px;
     left: 25px;
}
